RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
 </FilesMatch>
<FilesMatch ".(eot|otf|ttf|woff|woff2)">
    Header always set Access-Control-Allow-Origin "*"
</FilesMatch>

 <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
