:root {
  --orange: #ffab00;
  
}

body {
   background-color: #E0E0E0;
   width:99.5%;
   padding-right:0px !important;
}
.side-navbar {
  width: 280px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: var(--orange);
  transition: 0.5s;
}
.inkitchen-btn
{
	background-color:#5AD534 !important;
}
.org-color
{
	color:var(--orange) !important;
}
.org-bg
{
    border-color: var(--orange) !important;;
  background-color:var(--orange) !important;
}
.blu-bg{
    border-color: #0ED0DF !important;;
  background-color:#0ED0DF !important;
}

.green-bg{
    border-color: #24df00 !important;;
    background-color: #24df00 !important;
}


.btn-w50{
  width:25% !important;		
}
.btn-w80{
  width:47% !important;	
}
/*---start top nav bar---*/
.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  /*overflow-x: scroll;*/
}

 
.hs {
  display: grid;
  grid-auto-flow: column;
/*  overflow-x: auto;*/
}

.hs:before,
.hs:after {
  content: '';
  width: 0px;
}


.nav-tabs .nav-link{
	border: 0px solid #d9d9d9 !important;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/*---end top nav bar---*/
/*---list div----*/
.media-list > .media:not(.circle-div> p,span) {
   color: white !important;
}
.circle-div{
	border-radius:50% !important;
	width:50px;
	/*background-color:var(--orange) !important;*/
	height:50px;
}
.list-ul li{
	margin-bottom:-20px;
}
.media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover, .media-list-hover .media-list-body > .media:hover
{
  background-color: #f1f1f1 !important;
}
.media:hover *
{
  color:#000 !important;
}
.total_txt{
 color:#0084FF !important;
}
.ready-collect{
	background-color:var(--orange);
	color:white !important;
	font-family: OpenSans-Bold;
	font-weight: normal;
	color: #fff;
}
.ready-collect:hover{
 background-color:var(--orange) !important;	
}
.main-header .app-menu .search-bx .btn {
    background-color: #ffffff;
    color: #172b4c;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
}
.btn-sarch{
	border: solid 1px #7e8299  !important;
    border-left-width: 0px !important;
    border-radius: 0px 0px 0px 0px !important;
}
.btn-sarch:hover{
	box-shadow:none !important;
	text-decoration: none !important;
}
.media-body > p:last-child {
    color:white;
}
/*---end list div---*/

/*---right side panel start---*/
.right-panel-footer{
  background-color:#fff7e8;	
}
.right-bar-content {
	color:black !important;
	margin:0px;
}
.blue-anchor{
	color:#0084FF !important;
	font-family: OpenSans-SemiBold;
	font-weight: normal;
	

}
/*---right side panel end---*/

/*---hover section start----*/
.navbar {
 background-color:white;	
}
.nav-tabs li.item a{
  color:black !important;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: var(--orange);
}
.nav-link:hover,
.nav-link:focus {
  background:transparent !important;
  color: black !important;
  border-radius: 2px !important;
}
.nav-item:hover span {
  background-color:transparent !important;
}
.nav-link:hover .right {
  color: var(--orange);
}
.frow .btn-md:hover {
  background-color: var(--orange) !important;
  border-color:var(--orange) !important;
  color:white !important;
}

.btn-md:hover {
  background-color: var(--orange) !important;
  border-color:var(--orange) !important;
  color:white !important;
}
.table .btn:hover{
	 background-color: var(--orange) !important;
	 border-color:var(--orange) !important;
	 color:white !important;
}
.form-control:active,
.form-select:active {
  height: 46px !important;
  border-color: var(--orange);
}
input,select:focus{
	border-color: var(--orange) !important;
	/*border-right-width: 0px !important;*/
}
.sub-menu ul li a:hover {
  color: #fff;
}
/*---hover section end----*/
.nav-tabs .nav-link{
  color:black;	
}
.my-container {
  transition: 0.4s;
}

.sidebar-mini.sidebar-collapse .content-wrapper{
    width: 35% !important;
}
.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 280px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
}

.bg-dark {
  background-color: #000 !important;
  color: #ffffff !important;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
}
.side-navbar .flex-column > li > a {
  border-radius: 50px !important;
}

.theme-primary .nav-tabs .nav-link.active
{
	background-color: var(--orange) !important;
    color: black;
}

.nav-link .right {
  font-size: 16px;
  font-weight: 400;
  padding-top: 0;
}
.sub-menu ul {
  padding-left: 6px;
}
.sub-menu ul li {
  list-style: none;
  margin: 10px 0;
}
.sub-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.nav li {
  padding: 0 10px;
}
.bg-yellow {
  background: #ffd684;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.title {
  font-weight: 600;
}
.form-label {
  font-size: 15px;
  font-weight: 600;
  padding-left: 20px;
}
.table > thead > tr > td,
.table > thead > tr > th {
  font-size: 15px;
}
.form-control,
.form-select {
  height: 46px !important;
    border-color:  #E4E6EB  !important;
    border-radius: 7px !important;
}
.theme-primary .btn-primary{
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
}
.theme-primary .btn-primary:hover, .theme-primary .btn-primary:active, .theme-primary .btn-primary:focus, .theme-primary .btn-primary.active{
	background-color: var(--orange)!important;
	 border-color:white !important;
}

.btn-md {
  font-size: 1rem;
  /*padding: 12px 70px;*/
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}
.frow .btn-md{
	background:transparent !important;
	color: var(--orange) !important;
    border-color:  var(--orange) !important;
}

.table-striped > tbody > tr {
  --bs-table-accent-bg: #fff8ec;
  color: var(--bs-table-striped-color);
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  font-size: 15px;
}
.table > tbody > tr > td {
  border-bottom-width: 0;
  padding: 1.5rem;
}
.table .btn{
	border-color: var(--orange) !important;
	background-color: transparent !important;
	color:var(--orange) !important;
}


.ordhistory input,select{
	border-radius:0px !important;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #f5f7fb;
  border-radius: .3rem;
}
.btn-toggle.btn-sm, .btn-toggle.btn-sm > .handle {
    border-radius: 16px;
}
.switch-me{
	
}

.gdot {
  height: 15px;
  width: 15px;
  background-color:#27af37;
  border-radius: 50%;
  display: inline-block;
}
.rdot {
  height: 15px;
  width: 15px;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
}
.orange_text
{
  color:var(--orange) !important;	
  text-width:bold;
}
.add-outlet::before{
	background-image:url('../images/icons/plushape.png')
}
.right-panel-box div.box-body
{
 padding: 0.5rem !important;	
}


/*----latest code strat----*/
.sidebar-mini.sidebar-collapse .content-wrapper 
   {
     margin-left:calc(100% - 98.2%);
     z-index: 840;
   }
   .fixed .content-wrapper 
   {
      margin-top: 0px !important;
   }
   .content-wrapper 
   {
      width: calc(100% - 275px) !important;
      min-height: 100% !important;
      background-color: #f3f2f7;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      border-radius: 0;
/*      margin-right: 420px !important;*/
      margin-left: 17.79rem;
  }
  .content {
      min-height: 250px;
      padding: 0rem 0 0px 0;
      margin-right: auto;
      margin-left: auto;
  }
  .main-header .navbar 
  {
      min-height: 0px !important;
      padding: 0 0 0 0.2rem !important;
      
  }
  .app-menu{
    display: none !important;
  }
  .nav-tabs .nav-link{
        padding: 0.5rem 3.25rem !important;
  }
  .nav-tabs{
    border-bottom: 0px solid #dee2e6 !important;
	margin-left:0px !important;
	
  }
  
  .navbar {
    border-bottom: 1px solid #dee2e6 !important;
  }
  li.item > .label {
    position: relative;
    bottom: 36px;
    margin-left: 67px;
    text-align: center;
    font-size: 8px;
    padding: 0px 2px;
    line-height: 10px;
    width: 15px;
    height: 15px;
    /* border-radius: 100%; */
    font-weight: 400;
    display: grid;
    z-index: 9;
    color: black;
    border: 3px solid transparent;
    background-color: #FFEBC6;
}
.labelcenter {
    float:right;
    text-align: center;
    font-size: 8px;
    padding: 0px 2px;
    line-height: 10px;
    width: 15px;
    height: 15px;
    /* border-radius: 100%; */
    font-weight: 400;
    display: grid;
    z-index: 9;
    color: black;
    border: 3px solid transparent;
    background-color: #FFEBC6;
	
}
.rcb2
{
  display:block !important;
}
.right-close-btn{
	display:none !important;
}
.right-bar{
  top:calc(50% - 44.01vh);
  width: 61.8%;
  /*overflow: scroll;*/
}
.list_row .box 
{
  background-color: black;
  
}
.list_row > .box > a,p,strong :not(.btn-circle){
 /*color: white !important;*/
}
.box > .btn-circle{
  background-color: var(--orange) !important;
}

 .box .media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover, .media-list-hover .media-list-body > .media:hover > a{
  color: red !important;
}
.btn-circle.btn-sm{
	padding: 0;
    border-radius: 100%;
	position: inherit !important;
}
.right-div-open {
  width: 442px;
  transition-duration: 3s;
}

.right-div-close {
  width: 00px;
  transition: width 2s, height 2s, background-color 2s, transform 1s !important;
  
}
.btn-circle.btn-sm{
  margin-right: 20px !important;
  transition: width 2s, height 2s, background-color 2s, transform 1s !important;
  
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.tab-content.active > .tab-pane{
	display:block !important;
	opacity:1 !important;
}
.fade.active:not(.show) {
    opacity: 1;
}
.back_div 
{
 display:none !important;
 background: var(--orange) !important;
 padding: 20px !important;
 margin: -15px -29px 0px -20px !important;
}
.right-panel-footer > .button-bottom-div{
  margin-bottom:50px;  
}
/*----latest code end----*/
@media (min-width: 992px) {
  /* .none-d {
    display: none;
  } */
  .m-logo {
    display: none;
  }
}
@media (max-width: 991px) {
  .active-nav {
    margin-left: 0;
  }

  /* for main section */
  .active-cont {
    margin-left: 280px;
  }
  .nav li {
    padding: initial;
  }
  .top-navbar {
    background: #000;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    top: 0px;
    height: 66px;
  }
  #menu-btn {
    position: absolute;
    right: 10px;
  }
  .m-logo {
    padding-left: 10px;
  }
  .mpt-50 {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .btn-md {
    width: 100%;
  }
 .content-wrapper{
	margin-left: 0.05rem !important;
	margin-right: 0px !important;
 }
 .sidebar-mini.sidebar-collapse .content-wrapper{
  width: 100% !important;	 
 }
 .nav-tabs .nav-link {
    padding: 1.5vh 2.25rem;
  }
  .hs > li, .item{
    width: 14rem;
    text-align: center;
	margin:5px -82px 0px 0px !important;
  }
  .hs  a.nav-link{
    color: black !important;
	font-size:13px !important; 
	/*padding: 0.5rem 1.25rem 18px 4.5rem !important;*/
  }
  .fixed .content-wrapper {
	margin-top: 14vh !important;
  }
  .right-bar{
    width:0px;	  
  }
  .right-close-btn
  {
	display:none !important;
  }
  .tab-bar-section
  {
	background:white;  
  }
  .right-div-open 
  {
   width: 100%;
   transition-duration: 3s;
  }
  .nav-tabs .nav-link 
  {
    padding: 0.5rem 2.25rem !important;
  }
 .right-div-close {
	  width: 00px;
	  transition: width 2s, height 2s, background-color 2s, transform 1s !important;
  }
  .rcb2
  {
	display:block !important;
  }
  .right-bar .right-bar-btn{
	  position:inherit !important;
  }
  .back_div{
	display:block !important;  
	background:var(--orange) !important;
    padding: 10px !important;
    margin: -20px -21px 10px -20px !important;
  }
  .circle-div {
    border-radius: 50% !important;
    width: 12.5vw;
    /*background-color: var(--orange) !important;*/
    height: 7vh;
  }
  .right-panel-footer{
	margin-bottom:25px !important  
  }
  .sidebar-menu{
	margin-top:85px !important;  
  }
  
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	.mdiv-full{
	width:93% !important;  
  }
  .right-bar{
    top: calc(50% - 42%);
	width:0px ;
	/*display:none !important;*/
  }	
 .right-div-open 
 {
   width: 100%;
   transition-duration: 3s;
 }
 
 .right-div-close {
	  width: 0px !important;
	  transition: width 2s, height 2s, background-color 2s, transform 1s !important;
  }
 .app{
		padding-bottom: 0px;
		background:white;
  }
  ul.hs li.item {
		margin-bottom: calc(100px - 120px);
  }
  .navbar {
    background-color: transparent !important; 
  } 
  .fixed .content-wrapper 
  {
    margin-top: calc(25vh - 12vh) !important;
  } 
  .app{
    /*width: 80% !important;*/
    border-bottom: solid 1px #3D4557;
  }
  .nav-tabs .nav-link {
    padding: 0.8rem 3.25rem 35px 0px !important;
  }
  .hs > li, .item{
    width: 14rem;
    text-align: center;
  }
  .hs > a.nav-link{
    color: black !important;
  }
  .content {
      padding: 0.75rem 0 0px 0;
  }
  
  li.item > .label{
    margin-left: 110px !important;
    font-size: 15px !important;
    width: 20px !important;
    height: 20px !important;
	bottom: 45px !important;
  }
  .sidebar-mini.sidebar-collapse .content-wrapper{
    margin-left: 60px;
  }
  .right-bar{
    top: calc(50% - 37vh);
    width:350px;
    overflow: scroll;
  }
  .bar-section{
    background-color: var(--navcolor) !important;
  }
  .tab-bar-section{

  }
  .content-wrapper
  {
	  margin-left: 19.79rem;
	  margin-right: 10px !important;	  
  }
  .sidebar-mini.sidebar-collapse .content-wrapper {
	width: 92% !important;
  }	
  .right-close-btn
  {
	display:none !important;
  }
  .circle-div {
		border-radius: 50% !important;
		width: 5.5vw;
		/*background-color: var(--orange) !important;*/
		height: 4.5vh;
  }
  .d-flex{
	  /*display:block !important;*/
  }
  .rcb2
  {
   display:none !important;
  }
  .back_div{
	  display:none !important;
	background:var(--orange) !important;
    padding: 20px !important;
    margin: -15px -29px 0px -20px !important;
  }
  .right-bar .right-bar-btn{
    position: inherit;	  
  }
  .right-panel-footer{
	margin-top:12.5vh !important  
  }
  .circle-div 
  {
	border-radius: 50% !important;
	width: 6vw;
	/*background-color: var(--orange) !important;*/
	height: 4.5vh;
  }
  .ref-btn{
	  
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
	li.item  span.label1
	{
	    position: relative;
		bottom: 36px;
		
		top:19px;
		text-align: center;
		font-size: 8px;
		padding: 0px 2px;
		line-height: 10px;
		width: 15px;
		height: 15px;
		/* border-radius: 100%; */
		font-weight: 400;
		display: grid;
		z-index: 9;
		color: black;
		border: 3px solid transparent;
		background-color: #FFEBC6;
	}
	.mdiv-full{
	  width: 94% !important;	
	}
	.mdiv-reset{
	  width: 51% !important;	
	}
	.bar-section{
	 display:none;
	}
	.main-header .navbar{
	  background: white;
	}
	.nav-tabs .nav-link {
		padding: 0.9rem 3.25rem;
	}
	.tab-bar-section{
	  margin-bottom:-18px;
	}
	.left_bar {
		display: block !important;
	}
	.fixed .content-wrapper{
	  margin-top: 42px !important;	
	}
	.content-wrapper{
	  margin-left: 19.100rem;		
	  margin-right: 441px !important;
	}
	.right-bar
	{
     top: calc(50% - 44.5vh);
    }
	.sidebar-mini.sidebar-collapse .content-wrapper{
	 width: 32% !important;	
	 margin-left: calc(100% - 93.8%);
	}
	.right-div-open {
	  width: 440px;
	  transition-duration: 105s !important;
	  transition-delay: 2s;
	}
	.right-div-close {
	  width:0px;
	  transition: width 2s, height 2s, background-color 2s, transform 1s !important;
	}
	.btn-circle.btn-sm{
	  margin-right: 20px !important;
	  transition: width 2s, height 2s, background-color 2s, transform 1s !important;
	}
	.nav-tabs{
	 margin-bottom: 17px;	
	}
	.right-panel-footer > .button-bottom-div{
	  margin-bottom:50px;  
	}
	.back_div {
		display:none !important;
		background: var(--orange) !important;
		padding: 20px !important;
		margin: -15px -29px 0px -20px !important;
	}
	.right-panel-footer{
	  margin-top:-3vh !important  
    }
	.circle-div {
		border-radius: 50% !important;
		width: 4.5vw;
		/*background-color: var(--orange) !important;*/
		height: 6vh;
	}
}
